{% extends "network/layout.html" %}
{% load static %}
{% block body %}  

    <h1>All Posts</h1> 
    <div id="div1"></div>
    <div id="div2"></div>
    <p>{{ page_number }}</p> 

    {% if user.is_authenticated %}  
        <div class="post">
            <form action="{% url 'index' %}" method="post">     
                {% csrf_token %}
                <h3>New Post</h3>  
                <textarea name="new_post"></textarea>  
                <br>
                <input type="submit" name="post" value="Post">
            </form>  
        </div> 
    {% endif %}        

    {% for post in posts %}
        <div class="post">  
            <h3> <a href="{% url 'profile' post.person.id %}"><strong>{{ post.person.username}}</strong></a> </h3>   
            <p> {{ post.content }} </p> 
            {% if post.person == user %}
                <p class="edit">Edit</p>   
            {% endif %}
            <p> {{ post.date }} </p> 
            {% if post.id in posts_liked and user.is_authenticated %} 
                <p> <i class="fa fa-heart" style="font-size:1em;color:red"></i>{{ post.number_of_likes }}</p>  
            {% else %} 
                <p> <i class="fa fa-heart" style="font-size:1em;color:white "></i>{{ post.number_of_likes }}</p>  
            {% endif %}
            <p hidden > {{ post.id }} </p> 
        </div> 
    {% endfor %}

    {% if posts|length %} 
        <form action="{% url 'index' %}" method="post">     
            {% csrf_token %}
            {% if previous %}
                <button type="submit" name="previous" value="previous">Previous</button> 
            {% endif %} 
            <select name="select" id="select" onchange="this.form.submit()"> 
                {% for page in pages %}    
                    {% if page == current_page %}
                        <option name="page-number" value={{ page }} selected>{{ page }}</option> 
                    {% else %}
                        <option name="page-number" value={{ page }}>{{ page }}</option>
                    {% endif %}
                {% endfor %}  
            </select>
            {% if next %}
                <button type="submit" name="next" value="next">Next</button>   
            {% endif %} 
        </form>  
    {% endif %} 

    <p class="current_user_class" hidden >{{ user }}</p> 
    
    <script src="{% static 'network/like.js' %}"></script> 
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}  
      