{% extends "network/layout.html" %}
{% load static %} 
{% block body %}  

    {% if not owner and not is_following %}
        <button id="follow">Follow</button> 
    {% elif not owner and is_following %}
        <button id="unfollow">Unfollow</button> 
    {% endif %} 

    <h1>Profile page of {{ user_p.username }}</h1> 
    <h4 id="number_of_followers">Number of followers: {{ number_of_followers }}</h4>
    <h4>Number of followings: {{ number_of_followings }}</h4>
    <p id="user" hidden > {{ user_p.id }} </p> 

    {% for post in posts %}
        <div class="post">  
            <h3> <a href="{% url 'profile' post.person.id %}"><strong>{{ post.person.username }}</strong></a> </h3>  
            <p> {{ post.content }} </p> 
            <p> {{ post.date }} </p> 
            {% if post.id in posts_liked and user.is_authenticated %} 
                <p> <i class="fa fa-heart" style="font-size:1em;color:red"></i>{{ post.number_of_likes }} </p>  
            {% else %} 
                <p> <i class="fa fa-heart" style="font-size:1em;color:white "></i>{{ post.number_of_likes }} </p>  
            {% endif %} 
            <p hidden > {{ post.id }} </p> 
        </div>
        
        {% empty %}
        <li class="empty">No posts</li>  
    {% endfor %}

    {% if posts|length %} 
        <form action="{% url 'profile' user_p.id %}" method="post">     
            {% csrf_token %}
            {% if previous %}
                <button type="submit" name="previous" value="previous">Previous</button> 
            {% endif %} 
            <select name="select" id="select" onchange="this.form.submit()"> 
                {% for page in pages %}    
                    {% if page == current_page %}
                        <option name="page-number" value={{ page }} selected>{{ page }}</option> 
                    {% else %}
                        <option name="page-number" value={{ page }}>{{ page }}</option>
                    {% endif %}
                {% endfor %}  
            </select>
            {% if next %}
                <button type="submit" name="next" value="next" >Next</button>
            {% endif %} 
        </form>  
    {% endif %}

    <script src="{% static 'network/like.js' %}"></script> 
    <script src="{% static 'network/follow.js' %}"></script> 
{% endblock %}  


