#p
{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    position: absolute;
    left: 375px;
    top: 40px;
}

input[name="q"]
{
    border: 1px solid #DCDCDC;
    width: 500px;
    background: url(images/search.png) no-repeat scroll 16px 16px;
    background-size: 14px 14px;
    font-size: 1em;
    border-radius: 25px;
    outline: none;
    padding: 14px 60px 14px 45px;
    display: block;   
}

input[type="image"]
{
    position: absolute;
    left: 565px;
    bottom: 12px;
}