a{
    float: right;
    text-decoration: none;
    color: rgb(27, 25, 25);
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

a:hover
{
    text-decoration: underline;
}

div 
{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px 0px;
}

img
{
    position: relative; 
    left: 160px; 
    bottom: 20px;
}

input[name="q"]:hover
{
    box-shadow: 1px 1px 3px rgb(233, 205, 205);
}