{% extends "auctions/layout.html" %}

{% block body %}
    {% if from == "index" %}
        <h2>Active Listings</h2>
    {% elif from == "sold" %}
        <h2>Sold Items</h2>
    {% endif %}

    {% for listing in listings %}
        <div class="listing"> 
            <img src={{ listing.image }} alt="no image" height="200">
            <div>
                <p>{{ listing.name }}</p>
                <p><strong>Price:</strong> ${{ listing.price}}</p>
                <p>
                    <strong>Category:</strong> 
                    {% if listing.category %}
                        {{ listing.category }}
                    {% else %}
                        Not specified
                    {% endif %}
                </p>
                <p class="time"><strong>Created at: </strong> {{ listing.time }}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'item' listing.id %}"><button>Details</button></a>
                {% endif %}
            </div>
        </div>

    {% empty %}
        <h3>No listings found</h3> 
    {% endfor %}
{% endblock %} 