{% extends "auctions/layout.html" %}

{% block body %}
    <h2><strong>Item Name:</strong> {{ item.name }}</h2>
        <img src={{ item.image }} alt="no image" height="500">
            <p><strong>Price:</strong> ${{ item.price}}</p>
            <p><strong>Category:</strong> {{ item.category }}</p>
            <p><strong>Created</strong> {{ item.time }}</p>
    <h2>Comments</h2>

    {% if not empty%}
        {% for comment in comments%}
            <p>{{ comment.comment}}</p>
            <p>{{ comment.person.username }}</p>
        {% endfor %}
    {% else %}
        <p>empty</p>
    {% endif %}

    <form action="{% url 'item' item.id %}" method="post">     
        {% csrf_token %}
        
        <textarea name="comment" cols="50" rows="5" placeholder="Enter your comment here"></textarea>
        <br>
        <input type="submit" value="Post">
    </form>
{% endblock %}