{% extends "auctions/layout.html" %}

{% block body %}

    {% if message == "Added" %}
        <div class="message success">{{ message }}</div>
    {% elif message == "Item is already in watchlist" %}
        <div class="message failure">{{ message }}</div>
    {% endif %}
    
    <h2 class="cap"><strong>Item Name:</strong> {{ item.name }}</h2>
    {% if winner == "Nobody"%}
        <p>Auction is over before the item is sold</p>
    {% elif user.id == winner %}
        <p id="winner" >You are the winner !</p>
    {% endif %}
    {% if owner and item.open %}
        <form action="{% url 'item' item.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="close" name="option">
            <input type="submit" value="Close This Auction" id="close">
        </form>
    {% endif %}
    {% if not item.sold %}
        <form action="{% url 'item' item.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="1" name="option">
            <input id="wl" type="submit" value="Add to Watchlist">
        </form>

    {% endif %}
    <img src={{ item.image }} alt="no image" height="500">
    <p><strong class="price">${{ max_price}}</strong></p>
    
    <h3>Details</h3>
    <ul>
    
        <li><strong>Listed by: </strong>{{ item.created_by.username }}</li>
        <li><strong>Category: </strong>{{ item.category }}</li>
        <li><strong>Description: </strong>{{ item.description }}</li>
        <li><strong>Created at: </strong> {{ item.time }}</li>
    </ul>
    
        
    {% if not owner and item.open or owner and not item.open and not item.sold %}
        <form action="{% url 'item' item.id %}" method="post" id="bid-form">     
            {% csrf_token %}
            <input type="hidden" value="2" name="option">
            {% if not owner and item.open %}
                <input type="number" placeholder="Bid" min="0" name="bid">
                <br>
                <input type="submit" value="Place bid">

            {% elif owner and not item.open and not item.sold %}
                <input type="submit" value="Open Auction">
            {% endif %}
        </form>
    {% elif winner == "Nobody" %}
        <h3>Nobody won</h3>
    {% elif not item.open and item.sold %}
        <h3>This item was sold.</h3>
    {% elif owner and item.open %}
        <h3>Auction is open. You can close it whenever you want</h3>
    {% elif not owner and not item.open and not item.sold %}
        <h3>Auction is now closed</h3>    
    {% endif %}
    {% if not item.sold and item.open %}
        <p>{{ length }} bid(s) so far </p>    
    {% endif %}  
    
    <p id="msg">{{ bid_message }}</p>
    {% if not empty %} 
        <h2>Comments</h2>
        {% for comment in comments %}
            <div class="comment">     
                <h5>Comment made by <strong>{{ comment.person.username }}</strong></h5>
                <p>{{ comment.comment }}</p>
                <p class="time"><strong>Comment made at :</strong> {{ comment.time }} </p>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h2>No comments yet </h2>
    {% endif %}

    {% if user.is_authenticated %}
        <h5 id="h5">Make a comment as <strong>{{ username }}</strong></h5>
        <form action="{% url 'item' item.id %}" method="post">     
            {% csrf_token %}
            <input type="hidden" value="3" name="option">
            <textarea name="comment" cols="50" rows="5" placeholder="Enter your comment here"></textarea>
            <br>
            <input type="submit" value="Post">
        </form>
    {% endif %}
    <script>    
        const h5 = document.getElementById("h5");
        const form = document.querySelector("h5 + form");
        
        form.style.display = "none";
        h5.addEventListener("click", function() {
            form.style.display = "block";

            h5.style.display = "none";
        });
    </script>
{% endblock %}